---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Overview from "../components/profile/overview/Overview.astro";
import Layout from "../layouts/Layout.astro";
import Pattern from "@components/common/Pattern.astro";
import SocialLinks from "@components/profile/social-links/SocialLinks.astro";
import About from "@components/profile/About.astro";
import TechStack from "@components/profile/tech-stack/TechStack.astro";
---

<Layout>
  <div class="max-w-screen overflow-x-hidden">
    <div class="mx-auto px-4 md:max-w-3xl">
      <Header />
      <Pattern />

      <main>
        <Overview />
        <Pattern />

        <SocialLinks />
        <Pattern />

        <About />
        <Pattern />

        <TechStack />
        <Pattern />
      </main>
    </div>
  </div>
</Layout>
