---
import { USER } from "../data/user";
import Avatar from "./Avatar.astro";
import FlipSentences from "./FlipSentences.svelte";
---

<header class="screen-line-before relative mt-2">
  <!-- <ChanhDaiCoverHello /> -->

  <div
    class="border-grid bg-background ring-grid absolute top-0 right-0 flex items-center gap-3 rounded-bl-2xl ring ring-inset"
  >
    <!-- <Nav class="max-sm:hidden" /> -->

    <div class="z-10 flex items-center gap-2">
      <!-- <NavItemGithub /> -->
      <!-- <ToggleTheme /> -->
      <!-- <NavDropdown class="sm:hidden" /> -->
    </div>
  </div>

  <div class="screen-line-after border-grid flex border-x">
    <div class="border-grid shrink-0 border-r">
      <div class="mx-[2px] my-[3px]">
        <Avatar
          class="ring-border ring-offset-background size-32 rounded-full ring-1 ring-offset-2 sm:size-40"
        />
      </div>
    </div>

    <div class="flex flex-1 flex-col">
      <div class="flex grow items-end pb-1 pl-4">
        <div
          class="line-clamp-1 font-mono text-xs text-zinc-300 select-none dark:text-zinc-800"
        >
          text-3xl
          <span class="inline dark:hidden"> text-zinc-950</span>
          <span class="hidden dark:inline"> text-zinc-50</span>
          font-medium
        </div>
      </div>

      <div class="border-grid border-t">
        <h1 class="font-heading flex items-center pl-4 text-3xl font-medium">
          {USER.displayName}
          &nbsp;
          <!-- <SimpleTooltip content={`Official website of ${USER.displayName}`}> -->
          <!-- 	<VerifiedIcon class="text-info-foreground size-[0.6em] translate-y-px" /> -->
          <!-- </SimpleTooltip> -->
        </h1>

        <div class="border-grid relative h-12 border-t py-1 pl-4 sm:h-[29px]">
          <FlipSentences
            client:load
            sentences={[USER.bio, ...USER.flipSentences]}
          />
        </div>
      </div>
    </div>
  </div>
</header>
