---
type Props = {
  href?: string;
  id?: string;
};
const { href, id } = Astro.props;
const isLink = !!href;
---

<div
  class="[&_svg]:text-muted-foreground flex items-center gap-4 font-mono text-sm [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4"
>
  <span
    class="flex size-6 shrink-0 items-center justify-center rounded-lg border bg-zinc-50 shadow-xs dark:bg-zinc-900"
    aria-hidden="true"
  >
    <slot />
  </span>

  {
    isLink && (
      <a
        class="text-balance underline-offset-4 hover:underline"
        {href}
        target="_blank"
        rel="noopener noreferrer"
        {id}
      >
        <slot name="content" />
      </a>
    )
  }
  {
    !isLink && (
      <p class="text-balance" {id}>
        <slot name="content" />
      </p>
    )
  }
</div>
